.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #ccc;
}

nav {
  background-color: #56697d;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

.brand-logo {
  color: #ccc;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.addTask {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.addTask input {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #9b9898;
  margin-right: 10px;
  background-color: transparent;
  outline: none;
  width: 300px;
}

.addTask input::placeholder {
  color: #838080;
}

.addTask button {
  background-color: #1950a2;
  color: rgb(223, 213, 213);
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.addTask button:hover {
  background-color: #8798c2;
}


.list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  background-color: #a4a1b9;
  border-radius: 5px;
  overflow: hidden;
}

.task:hover {
  transform: translateY(-5px);
}

.task h1 {
  font-size: 18px;
  margin: 0;
  color: #362929;
}

.task-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task button {
  background-color: #1950a2;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
}

.task button:hover {
  background-color: #5d7aa5;
}

button {
  background-color: #426fe1;
  color: rgb(223, 213, 213);
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #8798c2;
}

.footer {
  background-color: #56697d;
  color: #ccc;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #fff;
}
